In [ ]:
import pandas as pd
import sklearn
import itertools
import numpy as np
import seaborn as sb
import re
import nltk
import pickle
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from matplotlib import pyplot as plt
from sklearn.linear_model import PassiveAggressiveClassifier
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [ ]:
train_df = pd.read_csv('train.csv')

In [ ]:
train_df.head(15)

                                            Statement  Label
0   Says the Annies List political group supports ...  False
1   When did the decline of coal start? It started...   True
2   Hillary Clinton agrees with John McCain "by vo...   True
3   Health care reform legislation is likely to ma...  False
4   The economic turnaround started at the end of ...   True
5   The Chicago Bears have had more starting quart...   True
6   Jim Dunnam has not lived in the district he re...  False
7   I'm the only person on this stage who has work...   True
8   However, it took $19.5 million in Oregon Lotte...   True
9   Says GOP primary opponents Glenn Grothman and ...   True
10  For the first time in history, the share of th...   True
11  Since 2000, nearly 12 million Americans have s...   True
12  When Mitt Romney was governor of Massachusetts...  False
13  The economy bled $24 billion due to the govern...   True
14  Most of the (Affordable Care Act) has already ...  False

In [ ]:
train_df.shape

(10240, 2)

In [ ]:
train_df.head(15)

                                            Statement  Label
0   Says the Annies List political group supports ...  False
1   When did the decline of coal start? It started...   True
2   Hillary Clinton agrees with John McCain "by vo...   True
3   Health care reform legislation is likely to ma...  False
4   The economic turnaround started at the end of ...   True
5   The Chicago Bears have had more starting quart...   True
6   Jim Dunnam has not lived in the district he re...  False
7   I'm the only person on this stage who has work...   True
8   However, it took $19.5 million in Oregon Lotte...   True
9   Says GOP primary opponents Glenn Grothman and ...   True
10  For the first time in history, the share of th...   True
11  Since 2000, nearly 12 million Americans have s...   True
12  When Mitt Romney was governor of Massachusetts...  False
13  The economy bled $24 billion due to the govern...   True
14  Most of the (Affordable Care Act) has already ...  False

In [ ]:
def data_qualityCheck():
    print("Checking data qualitites...")
    train_df.isnull().sum()
    train_df.info()  
    print("check finished.")
data_qualityCheck()

Checking data qualitites...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10240 entries, 0 to 10239
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Statement  10240 non-null  object
 1   Label      10240 non-null  bool
dtypes: bool(1), object(1)
memory usage: 90.1+ KB
check finished.

In [ ]:
train_df.shape

(10240, 2)

In [ ]:
train_df.reset_index(drop= True,inplace=True)

In [ ]:
train_df.head(10)

                                           Statement  Label
0  Says the Annies List political group supports ...  False
1  When did the decline of coal start? It started...   True
2  Hillary Clinton agrees with John McCain "by vo...   True
3  Health care reform legislation is likely to ma...  False
4  The economic turnaround started at the end of ...   True
5  The Chicago Bears have had more starting quart...   True
6  Jim Dunnam has not lived in the district he re...  False
7  I'm the only person on this stage who has work...   True
8  However, it took $19.5 million in Oregon Lotte...   True
9  Says GOP primary opponents Glenn Grothman and ...   True

In [ ]:
label_train = train_df.Label

In [ ]:
label_train.head(10)

0    False
1     True
2     True
3    False
4     True
5     True
6    False
7     True
8     True
9     True
Name: Label, dtype: bool

In [ ]:
train_df = train_df.drop("Label", axis = 1)

In [ ]:
train_df.head(10)

                                           Statement
0  Says the Annies List political group supports ...
1  When did the decline of coal start? It started...
2  Hillary Clinton agrees with John McCain "by vo...
3  Health care reform legislation is likely to ma...
4  The economic turnaround started at the end of ...
5  The Chicago Bears have had more starting quart...
6  Jim Dunnam has not lived in the district he re...
7  I'm the only person on this stage who has work...
8  However, it took $19.5 million in Oregon Lotte...
9  Says GOP primary opponents Glenn Grothman and ...

In [ ]:
train_df['Statement'][2188]

'Says 94 percent of Wisconsin employers think the state is heading in the right direction and a majority say they will grow their companies in 2012.'

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [ ]:
lemmatizer = WordNetLemmatizer()
stpwrds = list(stopwords.words('english'))

In [ ]:
stpwrds

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [ ]:
for x in range(len(train_df)) :
    corpus = []
    review = train_df['Statement'][x]
    review = re.sub(r'[^a-zA-Z\s]', '', review)
    review = review.lower()
    review = nltk.word_tokenize(review)
    for y in review :
        if y not in stpwrds :
            corpus.append(lemmatizer.lemmatize(y))
    review = ' '.join(corpus)
    train_df['Statement'][x] = review

In [ ]:
train_df['Statement'][2182]

'new york city murder'

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(train_df, label_train, test_size=0.3, random_state=1)

In [ ]:
X_train

                                              Statement
3474  saysbarack obama voted language ofindianas rel...
6202                say apple tim cook business indiana
5868  majority candidate stage supported amnesty nev...
7357        k home owner suicide attributed foreclosure
9514  thurbert baker kept teen jail didnt even commi...
...                                                 ...
2895           u rep allen west want bring back earmark
7813                         oil drilling florida coast
905   last year weve put people back work advanced e...
5192     latin america economy almost big economy china
235                     say marco rubio one open border

[7168 rows x 1 columns]

In [ ]:
X_train.shape

(7168, 1)

In [ ]:
Y_train

3474     True
6202    False
5868     True
7357    False
9514    False
        ...
2895    False
7813     True
905      True
5192     True
235     False
Name: Label, Length: 7168, dtype: bool

In [ ]:
tfidf_v = TfidfVectorizer()
tfidf_X_train = tfidf_v.fit_transform(X_train)
tfidf_X_test = tfidf_v.transform(X_test)

In [ ]:
tfidf_X_train.shape

(1, 1)

In [ ]:
def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):
    
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)

    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, cm[i, j],
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")

    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

In [ ]:
classifier = PassiveAggressiveClassifier()
classifier.fit(tfidf_X_train,Y_train)

In [ ]:
Y_pred = classifier.predict(tfidf_X_test)
score = metrics.accuracy_score(Y_test, Y_pred)
print(f'Accuracy: {round(score*100,2)}%')
cm = metrics.confusion_matrix(Y_test, Y_pred)
plot_confusion_matrix(cm, classes=['FAKE Data', 'REAL Data'])

In [ ]:
from xgboost import XGBClassifier

In [ ]:
# fit model no training data
model = XGBClassifier()
model.fit(tfidf_X_train,Y_train)

In [ ]:
Y_pred = model.predict(tfidf_X_test)
score = metrics.accuracy_score(Y_test, Y_pred)
print(f'Accuracy: {round(score*100,2)}%')

In [ ]:
pickle.dump(classifier,open('./model.pkl', 'wb'))

In [ ]:
# load the model from disk
loaded_model = pickle.load(open('./model.pkl', 'rb'))

In [ ]:
def fake_news_det(news):
    review = news
    review = re.sub(r'[^a-zA-Z\s]', '', review)
    review = review.lower()
    review = nltk.word_tokenize(review)
    for y in review :
        if y not in stpwrds :
            corpus.append(lemmatizer.lemmatize(y))     
    input_data = [' '.join(corpus)]
    vectorized_input_data = tfidf_v.transform(input_data)
    prediction = loaded_model.predict(vectorized_input_data)
    if prediction[0] == 0:
        print("Prediction of the News :  Looking Fake News ")
    else:
        print("Prediction of the News : Looking Real News ")

In [ ]:
fake_news_det('Says 57 percent of federal spending goes to the military and just 1 percent goes to food and agriculture, including food stamps.')